* {
  font-family: sans-serif;
  line-height: 165%;
}
a {
  word-wrap: break-word;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
nav {
  font-size: 125%;
}
nav li {
  list-style-type: square;
}
nav a {
  color: blue;
}
#content {
  max-width: 60ch;
}
