/* VARIABLES */

:root {
  --body-margin: 2ch;
  --sidebar-width: 25ch;
  --content-padding-left: 3ch;
  --content-max-width: 53ch;
  /* total width with sidebar = 85ch */
}


/* LAYOUT */

body {
  margin: var(--body-margin);
}
nav ul {
  margin-top: 0;
  margin-bottom: 0;
}


/* layout on speech, small screens, and on devices not supporting media
 * queries */
#menu {
  max-width: var(--content-max-width);
}
#extras {
  display: none;
}

/* layout on print */
@media only print {
  #menu {
    display: none;
  }
}

/* layout on large screens. total width with sidebar is 85ch but media queries
 * use the browsers default font and size. thus 1ch here may be narrower than
 * 1ch in the font we use, so we use 100ch to be somewhat safe */
@media only screen and (min-width: 100ch) {
  #extras {
    display: block;
  }
  #main {
    display: table;
  }
  #menu {
    display: table-cell;
    width: var(--sidebar-width);
  }
  #content {
    display: table-cell;
    padding-left: var(--content-padding-left);
  }
  h2 {
    margin-top: 0;
  }
}


/* STYLE */

* {
  font-family: sans-serif;
}
#main {
  line-height: 1.65;
}
#content {
  max-width: var(--content-max-width);
}
nav {
  width: 100%;
  background: #DDD;
  border: 1px solid #AAA;
  font-size: 1.25em;
}
nav ul {
  list-style-position: inside;
  padding-left: 1ch;
  padding-right: 1ch;
  list-style-type: square;
}
.nav_link {
  color: blue;
}
a {
  word-wrap: break-word;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.extras_box {
  width: 100%;
  background: #DDD;
  border: 1px solid #AAA;
  margin-top: 7vh;
}
.extras_box_header {
  background: #CCC;
}
.extras_box_header_text {
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  font-weight: bold;
}
.extras_box_text {
  padding: 0.5ch;
}
