/* VARIABLES */

:root {
  --body-margin: 2ch;
  --sidebar-width: 33ch; /* including padding */
  --sidebar-padding-right: 3ch;
  --content-max-width: 53ch;
  --total-width-with-sidebar: 90ch;
}


/* LAYOUT */

* {
  box-sizing: border-box;
}
body {
  margin: var(--body-margin);
}
nav ul {
  margin-top: 0;
  margin-bottom: 0;
}


/* layout when not on a large screen supporting media queries */
header {
  max-width: var(--content-max-width);
}
#main {
  max-width: var(--content-max-width);
}
#content {
  max-width: var(--content-max-width);
}
#extras {
  display: none;
}

/* additional layout on print */
@media only print {
  #menu {
    display: none;
  }
}

/* layout on large screens supporting media queries. total width with sidebar is
 * 90ch but media queries use the browsers default font and size. thus 1ch here
 * may be narrower than 1ch in the font we use, so we use 105ch to be somewhat
 * safe */
@media only screen and (min-width: 105ch) {
  header {
    max-width: var(--total-width-with-sidebar);
    width: var(--total-width-with-sidebar);
  }
  #main {
    display: table;
    max-width: var(--total-width-with-sidebar);
    width: var(--total-width-with-sidebar);
  }
  #extras {
    display: block;
  }
  #menu {
    display: table-cell;
    width: var(--sidebar-width);
    padding-right: var(--sidebar-padding-right);
  }
  #content {
    display: table-cell;
  }
  h2 {
    margin-top: 0;
  }
}


/* STYLE */

* {
  font-family: sans-serif;
}
#main {
  line-height: 1.65;
}
nav, .extras_box {
  width: 100%;
  background: #DDD;
  border: 1px solid #AAA;
}
nav {
  font-size: 1.25em;
}
nav ul {
  padding-left: 3ch;
  padding-right: 2ch;
  list-style-type: square;
}
.menu_item {
  padding-left: 0.5ch;
}
.nav_link {
  color: blue;
}
a {
  word-wrap: break-word;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.extras_box {
  margin-top: 7vh;
}
.extras_box_header {
  background: #CCC;
}
.extras_box_header_text {
  padding-left: 0.5ch;
  padding-right: 0.5ch;
  font-weight: bold;
}
.extras_box_text {
  padding: 0.5ch;
}
.news_list {
  display: table;
  margin-top: 1em;
  margin-bottom: 1em;
}
.news_item {
  display: table-row;
}
.news_date {
  display: table-cell;
  white-space: nowrap;
  padding-right: 2ch;
}
.news_link {
  display: table-cell;
}
