{% if include.limit %}
  {% assign posts = site.posts | slice: 0, include.limit %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}
<div class="news_list">
{% for post in posts %}
  {% if include.tag %}
    {% comment %} check whether the post contains the tag {% endcomment %}
    {% if post.tags contains include.tag %}
      {% assign print = true %}
    {% else %}
      {% assign print = false %}
    {% endif %}
  {% else %}
    {% assign print = true %}
  {% endif %}
  {% if print %}
    <div class="news_item">
      <div class="news_date">
        {{ post.date | date_to_string }}
      </div>
      <div class="news_link">
        <a href="{{ post.url }}">{{ post.title }}</a>
      </div>
    </div>
  {% endif %}
{% endfor %}
</div>
