<ul>
  {% for item in include.items %}
    {% if item.link and item.sub_items %}
      {{ "both link and sub_items" | log_error }}
    {% endif %}
    {% if item.link %}
      <li>
        <div class="menu_item">
          <a href="{{ item.link }}" class="nav_link">{{ item.name }}</a>
        </div>
      </li>
    {% elsif item.sub_items %}
      <li>
        {{ item.name }}
        {% include menu_items.html items=item.sub_items %}
      </li>
    {% else %}
      {{ "neither link nor sub_items" | log_error }}
    {% endif %}
  {% endfor %}
</ul>
