<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Scandinavian Logic Society
        {% if page.title %}
            - {{ page.title }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
    <link rel="stylesheet" media="(max-width: 90ch)" href="/assets/css/small.css">
    <link rel="stylesheet" media="(min-width: 90ch)" href="/assets/css/large.css">
  </head>
  <body>
    <h1>Scandinavian Logic Society</h1>
    <nav class="small">
      {% include menu_items.html items=site.data.menu_items append="#content" %}
    </nav>
    <nav class="large">
      {% include menu_items.html items=site.data.menu_items append="" %}
    </nav>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
