<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Scandinavian Logic Society
        {% if page.title %}
            - {{ page.title }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="/css.css">
  </head>
  <body>
    <header><h1>The Scandinavian Logic Society</h1></header>
    <div id="main">
      <div id="menu">
        <nav>
          {% include menu_items.html items=site.data.menu_items %}
        </nav>
        <div id="extras">
          {% for box in site.boxes %}
            <div class="extras_box">
              <div class="extras_box_header">
                <div class="extras_box_header_text">{{ box.header }}</div>
              </div>
              <div class="extras_box_text">
                {{ box.content }}
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
      <div id="content">
        {{ content }}
      </div>
    </div>
  </body>
</html>
