<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Scandinavian Logic Society
        {% if page.title %}
            - {{ page.title }}
        {% endif %}
    </title>
    <link rel="stylesheet" href="/assets/css/styles.css">
  </head>
  <body>
    <h1>Scandinavian Logic Society</h1>
    <nav>
      {% include menu_items.html items=site.data.menu_items %}
    </nav>
    <div id="content">
      {{ content }}
    </div>
  </body>
</html>
